module.exports = {
  definition: async function (db, DataTypes) {
    db.define("continents", {
      name: DataTypes.STRING,
    })
  },
  postDefinition: async function (db, DataTypes, Op) {
    db.models.continents.hasMany(db.models.cities)
  },
}
